# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
Build Mod.bat
CREDITS-fml.txt
forge-1.12.2-14.23.1.2584-changelog.txt
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
LICENSE-new.txt
MinecraftForge-Credits.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
README.txt
setupCleanCache.bat
setupDecomp.bat
setupEclipse.bat
gradlew
gradle/wrapper/gradle-wrapper.properties
gradlew
